workflow json/o.invoice-intelligence-engine.json
{
  "name": "o.invoice-intelligence-engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-invoice",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -208
      ],
      "id": "7b916438-c172-4d95-a42a-190357447719",
      "name": "Webhook",
      "webhookId": "2d975251-e903-4b87-9e23-ed3645bbb286"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 800,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        -32
      ],
      "id": "12fa9e99-9eb8-465d-96ee-a21c57a6402a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uQY5n16NCPG6m1VZ",
          "name": "rag course 3 project"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are an invoice data extraction engine.\n\nExtract structured invoice data from the provided text.\n\nReturn ONLY valid JSON.\nDo NOT return markdown.\nDo NOT wrap in backticks.\nDo NOT explain anything.\n\nThe JSON must follow this structure:\n\n{\n  \"seller_name\": string,\n  \"seller_gstin\": string,\n  \"seller_address\": string,\n  \"invoice_number\": string,\n  \"invoice_date\": string,\n  \"customer_name\": string,\n  \"customer_address\": string,\n  \"customer_gstin\": string,\n  \"items\": [\n    {\n      \"description\": string,\n      \"quantity\": number,\n      \"unit_price\": number,\n      \"line_total\": number\n    }\n  ],\n  \"subtotal\": number,\n  \"gst_percentage\": number,\n  \"gst_amount\": number,\n  \"total_amount\": number\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        -208
      ],
      "id": "f80b77d3-55f2-47e1-a010-af8eb334338a",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        -208
      ],
      "id": "c2b187a2-0ace-48d8-903b-b4b5b7f041e4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// --------------------------------------------------\n// INVOICE INTELLIGENCE ENGINE - PARSE + METADATA\n// --------------------------------------------------\n\n// 1. Get raw AI output (string)\nconst rawOutput = $json.output;\n\nif (!rawOutput || typeof rawOutput !== \"string\") {\n  throw new Error(\"AI output is empty or not a string.\");\n}\n\n// 2. Clean markdown if present\nlet cleaned = rawOutput\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 3. Parse JSON safely\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error(\"Failed to parse AI JSON: \" + error.message);\n}\n\n// 4. Get processing start time from Set node (Edit Fields)\nconst startNodeName = \"Edit Fields\";\n\nlet startEpoch = null;\ntry {\n  startEpoch = $node[startNodeName].json.processing_started_epoch_ms ?? null;\n} catch (err) {\n  startEpoch = null;\n}\n\n// 5. Compute latency\nconst endEpoch = Date.now();\nconst latency =\n  startEpoch && !isNaN(Number(startEpoch))\n    ? endEpoch - Number(startEpoch)\n    : null;\n\n// 6. Build final structured response\nconst finalOutput = {\n  ...parsed,\n\n  metadata: {\n    processing_started_at:\n      startEpoch ? new Date(Number(startEpoch)).toISOString() : null,\n    processing_ended_at: new Date(endEpoch).toISOString(),\n    latency_ms: latency,\n    token_usage: null,   // Groq node does not expose automatically\n    status: \"success\",\n    error_message: null\n  }\n};\n\n// 7. Return single structured object\nreturn [\n  {\n    json: finalOutput\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -208
      ],
      "id": "c764f6a5-034a-49df-ad28-27a84d8534c3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "subtotal": "={{ $json.subtotal }}",
            "gst_percentage": "={{ $json.gst_percentage }}",
            "gst_amount": "={{ $json.gst_amount }}",
            "total": "={{ $json.total_amount }}",
            "confidence_score": 0,
            "invoice_number": "={{ $json.invoice_number }}",
            "invoice_date": "={{ $json.invoice_date }}",
            "seller_name": "={{ $json.seller_name }}",
            "seller_gstin": "={{ $json.seller_gstin }}",
            "seller_address": "={{ $json.seller_address }}",
            "customer_name": "={{ $json.customer_name }}",
            "customer_gstin": "={{ $json.customer_gstin }}",
            "created_at": "={{ $json.created_at }}",
            "processing_status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "seller_gstin",
              "displayName": "seller_gstin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "seller_address",
              "displayName": "seller_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_address",
              "displayName": "customer_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_gstin",
              "displayName": "customer_gstin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "gst_percentage",
              "displayName": "gst_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "gst_amount",
              "displayName": "gst_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        48
      ],
      "id": "cd8cb752-fe72-4a5c-9338-077d789def74",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "XeoGp9WF9h6vBRtB",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1232,
        -192
      ],
      "id": "8f2a93a3-217f-4db5-8cc0-61b19edd4ae8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "line_items",
          "mode": "list",
          "cachedResultName": "line_items"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.items.quantity }}",
            "unit_price": "={{ $json.items.unit_price }}",
            "line_total": "={{ $json.items.line_total }}",
            "description": "={{ $json.items.description }}",
            "invoice_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_total",
              "displayName": "line_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        -192
      ],
      "id": "9942bdc1-ea12-45b5-9105-ded4c92b08de",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "XeoGp9WF9h6vBRtB",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "invoice_number",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -192
      ],
      "id": "ca6b4de2-f983-4841-85e5-e9c00d007ae7",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37b89962-c089-4815-aa05-134f8069b260",
              "name": "processing_started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "276ca21d-9a0f-4790-90af-88b47e1ca5c1",
              "name": "processing_started_epoch_ms",
              "value": "={{ Date.now() }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        112
      ],
      "id": "188abc55-b390-448d-b53c-4fee99de7036",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an invoice data extraction engine. Return ONLY valid JSON. No markdown. No explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$('Extract from File').item.json.text}}\"\n    }\n  ],\n  \"temperature\": 0\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        96
      ],
      "id": "8e0c07b0-3aca-419d-8c57-dc722201dd35",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d973e65d-28a2-481f-ad63-e5be48419eb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7428d0f703e00cc92dbda4395c676cdedf231821658496bbd0642f032636347a"
  },
  "id": "WzQ7abf2Tml55KRM",
  "tags": [
    {
      "updatedAt": "2026-02-17T13:37:15.254Z",
      "createdAt": "2026-02-17T13:37:15.254Z",
      "id": "AjA24PKc9MtwrIjm",
      "name": "course3"
    },
    {
      "updatedAt": "2025-12-19T08:17:50.956Z",
      "createdAt": "2025-12-19T08:17:50.956Z",
      "id": "QC71u6vj93Bdjrci",
      "name": "trial"
    },
    {
      "updatedAt": "2025-12-03T03:37:04.465Z",
      "createdAt": "2025-12-03T03:37:04.465Z",
      "id": "vUG67OwGys44O8Cw",
      "name": "Project"
    }
  ]
}